<div class="full-page">
    <div class="container">
      <div class="card">
        <div class="card-left">
          <img src="assets/profile.jpg" alt="Profile Picture" class="profile-image">
          <h3 class="name">Mohamed</h3>
          <h3 class="name">Imthiyas</h3>
          <h4 class="line">____</h4>
          <p class="role">Software Developer</p>
        </div>
        <div class="card-right">
          <h1 class="hello">Hello!</h1>
          <!-- <h3 calss="des1">Here's who I am & what I do</h3> -->
          <p class="description">I’m Mohamed Imthiyas, a software developer with a degree in BE-CSE from Anna University. Having recently started my career in the tech industry, I am currently working with .NET and Angular.</p>
          <p class="description"> My education, combined with my hands-on experience in real-world projects, has provided me with a solid foundation in programming and problem-solving skills. I am passionate about creating efficient, scalable, and user-friendly applications.</p>
          <div class="buttons">
            <a href="#" class="btn btn-primary">Resume</a>
            <a href="#" class="btn btn-primary">Projects</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  