<br><br><br><div class="resume-container">
    <header class="resume-header">
      <h1 class="resume">Resume</h1>
      <a href="path/to/your/cv.pdf" class="btn btn-primary" download>DOWNLOAD CV</a>
    </header>
    
    <section class="experience card">
      <div class="card-body">
        <h2>Experience</h2>
        <div class="job">
          <h3>2024 - Present</h3>
          <h3>Software Development Engineer</h3>
          <h5>Uncia Technologies Pvt.Ltd</h5>
          <h5>Guindy,Chennai</h5>
        </div>
      </div>
    </section>
    
    <section class="education card">
      <div class="card-body">
        <h2>Education</h2>
        <div class="education-item">
          <h3>2019 - 2023</h3>
          <h4>M.A.M. College of Engineering, Trichy</h4>
          <p>Under Gratuate in B.E-Computer Science</p>
        </div>
      </div>
    </section>
    
    <section class="skills card">
      <div class="card-body">
        <h2>Technical Skillset</h2>
        <h3>.Net core</h3>
        <ul>
          <li>Proficient in C# with expertise in OOP, data structures, LINQ, async programming, and .NET libraries.</li>
          <li>Skilled in designing and implementing scalable Web APIs using the .NET Framework, with expertise in building RESTful services and integrating them with various client applications.</li>
          <li>Good in utilizing the DTO pattern and Repository pattern to design maintainable and scalable applications, with strong skills in mapping data between domain models and DTOs to ensure efficient data handling and business logic separation.</li>
          <li>Good in using Entity Framework for database connectivity, including advanced features such as code-first migrations, LINQ queries, and entity relationships to effectively manage and interact with relational databases.</li>
        </ul>
        <h3>Angular</h3>
        <ul>
          <li>Proficient in developing dynamic single-page applications using Angular, including components, services, and modules.</li>
          <li>Good in implementing two-way data binding and form validation to create interactive and user-friendly interfaces.</li>
          <li>Knowledgeable in leveraging Angular’s dependency injection system to manage services and improve code testability.</li>
          <li>Experienced in configuring Angular Router for managing application routes and navigation.</li>
          <li>Expertise in using RxJS for handling asynchronous data streams and implementing reactive programming patterns.</li>
          <li>Adept at integrating Angular with RESTful APIs and Web APIs for seamless data interaction and CRUD operations.</li>
        </ul>
        <h3>SQL Server</h3>
        <ul>
          <li>Proficient in crafting complex SQL queries, including advanced SELECT statements, JOIN operations, and aggregate functions, to efficiently extract, manipulate, and analyze data.</li>
          <li>Good in data insertion, updates, and deletions, with a strong understanding of transactions and data consistency.</li>
          <li>Working in multiple database systems, including Oracle DB, MySQL, and MS SQL, with proficiency in writing and optimizing queries, managing schema designs, and performing database administration tasks.</li>
          <li>Good in both Oracle and ANSI SQL syntaxes, with the ability to write and optimize queries across different database platforms while adhering to best practices and standards for data manipulation and retrieval.</li>
        </ul>
        <h3>Java</h3>
        <ul>
          <li>Strong grasp of Java programming fundamentals.</li>
          <li>Strong understanding in variables, data types and fundamental control structures in Java.</li>
          <li>Proficient in array, String classes and method utilization.</li>
          <li>Strong understanding of Object-Oriented Programming (OOP) principles.</li>
          <li>Good in exception handling and Java's Collection Framework</li>
        </ul>
      </div>
    </section>

    <section class="skills card">
      <div class="card-body">
        <h2>Languages</h2>
        <ul class="lan">
          <li>Tamil (native)</li>
          <li>English (good)</li>
        </ul>
      </div>
    </section>
  </div>
  