<br><br><br><br><br><div class="resume-container">
    <header class="resume-header">
      <h1>Resume</h1>
      <a href="path/to/your/cv.pdf" class="btn btn-primary" download>DOWNLOAD CV</a>
    </header>
    
    <section class="experience card">
      <div class="card-body">
        <h2>Experience</h2>
        <div class="job">
          <h3>2024 - Present</h3>
          <h3>Software Development Engineer</h3>
          <h5>Uncia Technologies Pvt.Ltd</h5>
          <h5>Guindy,Chennai</h5>
        </div>
      </div>
    </section>
    
    <section class="education card">
      <div class="card-body">
        <h2>Education</h2>
        <div class="education-item">
          <h3>2019 - 2023</h3>
          <h4>M.A.M. College of Engineering, Trichy</h4>
          <p>Under Gratuate in B.E-Computer Science</p>
        </div>
      </div>
    </section>
    
    <section class="skills card">
      <div class="card-body">
        <h2>Technical Skillset</h2>
        <h3>.Net core</h3>
        <ul>
          <li>fgwufg</li>
          <li>wbfbfh</li>
        </ul>
      </div>
    </section>

    <section class="skills card">
      <div class="card-body">
        <h2>Languages</h2>
        <ul class="lan">
          <li>Tamil (native)</li>
          <li>English (proficient)</li>
        </ul>
      </div>
    </section>
  </div>
  