<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <h1 class="navbar-brand">Mohamed Imthiyas</h1>
    <div class="navbar-toggler" id="navbarToggler">&#9776;</div>
    <div class="navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About-Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="project">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <div class="right-side">
      <div class="contact-info">
        <div class="contact-item">
          <p><strong>Call</strong><br>+91 8124708960</p>
        </div>
        <div class="contact-item">
          <p><strong>Write</strong><br>mohamedimthiyas@014@gmail.com</p>
        </div>
        <div class="contact-item">
          <p><strong>Follow</strong></p>
          <div class="social-icons">
            <a href="https://www.linkedin.com" target="_blank" class="mr-2">
              <img src="assets/icons8-linkedin-50.png" alt="LinkedIn">
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <img src="assets/icons8-instagram-30.png" alt="Instagram">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', () => {
  const navbarToggler = document.getElementById('navbarToggler');
  const navbarNav = document.getElementById('navbarNav');

  if (navbarToggler && navbarNav) {
    navbarToggler.addEventListener('click', () => {
      navbarNav.classList.toggle('active');
    });
  }
});
</script>
